<div class="container">

    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
        <h4 id="scrollspyHeading1">First heading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta perferendis alias a velit. Laborum voluptatem
            ex eaque accusantium similique, recusandae quisquam veritatis, necessitatibus, nihil eos error! Eligendi
            fugit veritatis corporis fugiat dolorum? Necessitatibus, dignissimos!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corrupti consectetur consequuntur unde sunt
            obcaecati, pariatur ad tenetur reiciendis, sapiente eius amet. Ratione est repellendus iure molestiae!
            Reiciendis dolorem perferendis animi earum obcaecati officia quae? Cum molestiae sapiente ratione porro.</p>
        <h4 id="scrollspyHeading2">Second heading</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque vel mollitia architecto sed officia fugit
            consectetur nisi perspiciatis sapiente dignissimos cumque quasi voluptatibus facilis dolores repellendus
            earum autem debitis repudiandae beatae modi recusandae culpa, ullam expedita! Tenetur esse iusto aspernatur
            labore id sequi nisi voluptates, quaerat ratione est exercitationem itaque!</p>
        <h4 id="scrollspyHeading3">Third heading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil exercitationem alias ducimus atque non
            cupiditate, quos, neque totam unde nulla praesentium cum accusamus. Quae a eaque illo. At, sapiente
            aspernatur culpa quis ratione cupiditate cum iste natus debitis sint, nemo molestias doloribus. Suscipit
            quidem quis error voluptas possimus ducimus deserunt, beatae minima maiores quos aperiam eius numquam quo
            iste et non neque pariatur ex in omnis obcaecati?</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora numquam voluptatibus alias dolor
            asperiores. Fuga commodi rem quidem. Dicta at totam ipsa! Dicta tempora adipisci quia dolore nobis, magnam
            temporibus et officiis ipsa sit magni ipsam doloribus fugiat laborum a nam distinctio consequuntur veniam
            possimus voluptas. Voluptatem quasi hic quidem iusto perspiciatis cum ipsam neque eum rerum sequi quam
            consequatur eveniet esse exercitationem commodi nostrum, consequuntur, ipsa id atque nemo tenetur voluptas.
            Eum odio aspernatur nostrum assumenda aut repellat iure, non ut exercitationem inventore aperiam, aliquid
            voluptate quas nobis quasi voluptatem illo ad possimus expedita facere labore iusto reprehenderit fuga.</p>
        <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis illum dolor eos aut libero ipsum eligendi
            provident reiciendis ab ut qui accusamus magni doloribus tempora blanditiis quae similique eius nobis alias
            deserunt facilis cupiditate id, perspiciatis hic. Neque consectetur magnam eligendi, soluta laudantium rerum
            est dolorum repellendus saepe molestias rem.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum error pariatur asperiores inventore
            iusto? Iste commodi expedita eos nam voluptas in impedit molestiae optio inventore? Quibusdam est suscipit
            non?</p>
    </div>
</div>